<!doctype html>
<html>
  <head>
    <title>Meowspace</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
      <nav>
        <h1><a href="/">MEOWSPACE</a></h1>
        <% if session[:user_id] %>
          <form method="POST" action="/logout">
            <input type="submit" value="Logout">
          </form>

        <% else %>
          <a href="/login"> Login or Signup </a>
        <%end%>
        </nav>
        <div class="clearfix"></div>
        <div id="container">
          <%= yield %>
        </div>
      <footer>
        
      </footer>
  </body>
</html>